.card {
    display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
}

.card {
    padding: 8px;
    background-color: #dec0f0;
    font-family: 'Crimson Text', serif;
        font-size: 20px;
}

#container {
    box-shadow: 0px 0px 5px 2px #888888;
}

#container {
    display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        
} 

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.content {
    flex: 1;

}

.footer {
    flex-shrink: 0;
}


